#main-stream-container {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #222;
  color: var(--accent-color-main);
  padding: 1rem;
  margin: 1rem;
  line-height: 1;
  font-size: 2rem;
  outline: thin solid var(--accent-color-main);
}
form.mode-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1rem;
}
form.mode-form h3 {
  margin: 0 0 0.5rem 0;
}
form.mode-form .button-group {
  display: flex;
  gap: 0.5rem;
}
form.mode-form button {
  flex: 1 1 auto;
}
