#main-stream-container {
  position: fixed;
  bottom: 0;
  right: 0;
  background: var(--stream-container-background);
  color: var(--button-text-color);
  padding: 1rem;
  margin: 1rem;
  line-height: 1;
  font-size: 2rem;
  outline: thin solid var(--accent-color-main);
  container-type: inline-size;
}
form.mode-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1rem;
}
form.mode-form h3 {
  margin: 0 0 0.5rem 0;
}
form.mode-form .button-group {
  display: flex;
  gap: 0.5rem;
}
form.mode-form button {
  flex: 1 1 auto;
}

@container (min-width: 30rem) {
  form.mode-form {
    flex-direction: row;
    align-items: center;
  }
  form.mode-form h3 {
    flex: 0 0 10rem;
    margin: 0 1rem 0 0;
  }
  form.mode-form .button-group {
    flex-direction: row;
  }
}
